{% extends 'pizza/base.html' %}

{% block 'body' %}
{% load widget_tweaks %}

<div class="container">
<h1> order a pizza </h1>
<h2>{{note}}</h2>

{% if created_pizza_pk %}
	<a href="{% url 'edit_order' created_pizza_pk %}">Edit your order </a>
{% endif %}

<form action="{% url 'order' %}" method='post'>  <!--enctype="multipart/form-data"  for files -->
	{% csrf_token %}
	<!--<label for="topping1">Topping1: </label>
	<input id="topping1" type="text" name="topping1">  self closing tag --> <!--for and id should be same 
	<label for="topping2">Topping2: </label>
	<input id="topping2" type="text" name="topping2">
	<label for="topping3">Topping1: </label>
	<input id="topping3" type="text" name="topping3">
	<select id="size" name="size">
		<option value="small">Small </option>
		<option value="median">Median </option>
		<option value="large">Large </option>
	</select> -->
	{% for field in pizzaform %}
	<div class="form-group">
		{{field.errors}}
		{{field.label_tag}}
		{% render_field field class="form-control" placeholder=field.label %}
		
	</div>
	{% endfor %}

	<input type="submit" value="Order Pizza">
</form>

<br><br>
Want more than one pizza?

<form action="{% url 'pizzas' %}" method="get">
	{{multiple_form}}
	<input type="submit" value="Get Pizzas">
</form>
</div>
 {% endblock %}




